.timeline {
  width: 100%;
  display: flex;
  max-width: 700px;
  flex-direction: column;
}

.new_tweet {
  width: 100%;
  display: flex;
  max-width: 700px;
  margin-top: 15px;
  position: relative;
  flex-direction: column;
}

.centralize {
  display: flex;
  align-items: center;
  flex-direction: column;
}
