.login_page {
  top: 30%;
  left: 50%;
  width: 100%;
  display: flex;
  max-width: 700px;
  position: absolute;
  align-items: center;
  flex-direction: column;
  transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
}

.login_h1 {
  text-align: center;
  margin-bottom: 45px;
}

.login_button {
  border: none;
  outline: none;
  padding: 10px;
  display: flex;
  color: white;
  cursor: pointer;
  max-width: 160px;
  font-weight: 600;
  border-radius: 2px;
  font-family: system-ui;
  background-color: #c51f5d;
}

.login_button:hover {
  color: #c51f5d;
  background-color: white;
}
