.navbar {
  height: 100%;
  width: 380px;
  margin: 15px;
  display: flex;
  position: fixed;
  min-width: 250px;
  max-height: 360px;
  border-radius: 12px;
  align-items: center;
  flex-direction: column;
  background-color: #243447;
}

.user_image {
  width: 100%;
  border: none;
  margin-top: 20px;
  max-width: 200px;
  margin-left: 20px;
  border-radius: 50%;
}

.user_name {
  font-size: 18px;
  font-weight: 700;
  color: #f5f8fa;
  margin-top: 20px;
  max-width: 200px;
  margin-left: 20px;
  text-align: center;
}

.user_email {
  font-size: 14px;
  font-weight: 400;
  color: #aab8c2;
  margin-top: 10px;
  max-width: 200px;
  margin-left: 20px;
  text-align: center;
}

.user_tweets {
  font-size: 14px;
  font-weight: 450;
  color: #f5f8fa;
  margin-top: 10px;
  max-width: 200px;
  margin-left: 20px;
  text-align: center;
}

.timeline {
  width: 100%;
  display: flex;
  max-width: 700px;
  flex-direction: column;
}

.centralize {
  display: flex;
  align-items: center;
  flex-direction: column;
}
